.description-title {
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.description-feed {
    width: fit-content;
    font-weight: 300;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #343434;
    font-weight: 300;
    margin-bottom: 5px;
}
