@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './styles/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-text-color;
  font-family: $default-text-family;
}


.container {
  max-width: 1180px;
  padding: 5px;
  margin: 0 auto;

}

body {
  overflow: auto;
}