.administrator-tickets-page {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    .line {
        position: absolute;
        left: -20px;
        bottom: -50px;
        z-index: 1;
    }

    &__header {
        margin-top: 50px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        &-title {
            font-size: 26px;
            font-weight: 900;
            color: #0357bb;
        }

        &-other {
            .logo {
                display: flex;
                justify-content: end;
            }

            .current-time {
                font-size: 15px;
                border: 1px solid #d3d3d3;
                text-align: center;
                border-radius: 4px;
                padding: 3px 10px;
            }

            .create-ticket__button {
                width: 170px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px 20px;
                border-radius: 6px;
                background-color: transparent;
                border: 1px solid #7075f1;
                cursor: pointer;
                transition: background-color linear 0.2s;

                &:hover {
                    background-color: #7075f1;

                    .button__text {
                        color: #fff;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                .button__text {
                    color: #7075f1;
                    transition: color linear 0.2s;
                }
            }
        }
    }
}
