.switch-root {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
    cursor: pointer;

    &__label {
        font-size: 14px;
        cursor: pointer;
    }

    &__switch {
        margin-left: 8px;
    }
}
