.popup {
    width: 100%;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(84, 84, 84, 0.2352941176);

    &__container {
        width: 724px;
        height: auto;
        background-color: #fff;
        padding: 16px 18px;
        border-radius: 8px;

        &__header {
            padding: 0px 5px;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .header__title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-text {
                    font-weight: 800;
                    font-size: 18px;
                    color: #343434;
                }

                &-popup-status {
                    margin-left: 20px;
                    padding: 8px 16px;
                    font-weight: 300;
                    font-size: 14px;
                    border-radius: 6px;
                    color: #fff;
                    background-color: #1f7cffbe;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &-popup-bookmark {
                    margin-left: 10px;
                }
            }

            .header__close {
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: background-color linear 0.2s;

                &:hover {
                    background-color: #dadada4f;
                }
            }
        }

        &__body {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;

            .body__title {
                padding: 0px 5px;
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 15px;

                &-label {
                    font-weight: 300;
                    font-size: 16px;
                    margin-right: 1px;
                }

                &-text {
                    width: 69%;
                    padding: 5px 10px;
                    outline: none;
                    background-color: #f3f8ff;
                    border-radius: 6px;
                    margin: 0px 5px;
                    border: 1px solid transparent;
                    transition: border-color 0.2s linear;

                    &:hover {
                        border-color: #1f7cffbe;
                    }

                    &::placeholder {
                        color: #adadad;
                        font-weight: 400;
                    }
                }

                &-icon {
                    width: 34px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px;
                    border-radius: 6px;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px #e8e8e8;
                    transition: border-color 0.2s linear;

                    &:hover {
                        border-color: #4e7fff;

                        .icon {
                            path {
                                stroke: #4e7fff;
                            }
                        }
                    }

                    .icon {
                        width: 20px;
                        height: 20px;

                        path {
                            transition: stroke linear 0.2s;
                        }
                    }
                }
            }

            .body__location {
                padding: 0px 5px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__room {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .title {
                        font-weight: 300;
                        font-size: 16px;
                    }

                    .dropdown-list {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;
                        min-width: 160px;
                        padding: 10px;
                        background-color: #fff;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        z-index: 10000;
                    }

                    .dropdown-item {
                        padding: 8px 0;
                        cursor: pointer;

                        &:hover {
                            background-color: #f5f5f5;
                        }
                    }
                }

                &__ticket-register-date {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .date-text {
                        font-weight: 300;
                        font-size: 16px;
                        margin-right: 15px;
                    }

                    .date {
                        text-align: center;
                        padding: 4px 10px;
                        border: 1px solid #d3d3d3;
                        border-radius: 4px;
                    }
                }
            }

            .body__tasks {
                padding: 0px 5px;
                width: 100%;
                overflow-x: auto;
                max-height: 300px;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-track {
                    background: #dbdbdb;
                }

                &::-webkit-scrollbar-thumb {
                    background: #a5a5a5;
                    border-radius: 5px;
                }

                &-title {
                    font-weight: 300;
                    font-size: 16px;
                }

                &-items {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    .item {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-content: start;

                        &:hover {
                            .actions {
                                display: flex;
                            }
                        }

                        &__general {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            flex-wrap: wrap;

                            *:not(:last-child) {
                                margin-right: 6px;
                            }

                            &-pc {
                                width: 11%;
                                font-size: 14px;
                                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
                                background: #fff;
                                padding: 6px 12px;
                                border-radius: 4px;
                            }

                            &__tasks {
                                width: 84%;
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                                flex-wrap: wrap;

                                &-task {
                                    font-size: 12px;
                                    padding: 6px 12px;
                                    border-radius: 4px;
                                    margin-bottom: 3px;
                                }
                            }

                            &-angle {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        &__description {
                            max-width: 70%;
                            margin-top: 8px;
                            padding: 5px 10px;
                            border-radius: 6px;
                            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
                            background: #fff;
                            color: #343434;
                            font-weight: 300;
                            margin-bottom: 5px;
                        }
                    }

                    .task__buttons {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: start;
                    }

                    .add__description-button {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 5px;
                        margin-left: 10px;
                        border: 1px dashed #646464;
                        border-radius: 6px;
                        transition: background-color 0.2s linear;

                        svg {
                            * {
                                transition: fill 0.2s linear;
                            }
                        }

                        &:hover {
                            background-color: #646464;

                            svg {
                                * {
                                    fill: #fff;
                                }
                            }
                        }
                    }

                    .create__task-button {
                        width: 170px;
                        height: 35px;
                        margin-top: 5px;
                        background-color: transparent;
                        border: 1px dashed #56ea4e;
                        border-radius: 6px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        cursor: pointer;
                        transition: linear 0.2s;

                        &:hover {
                            background-color: #56ea4e;

                            .button__text {
                                color: #fff;
                            }

                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }

                        .button__text {
                            color: #56ea4e;
                            transition: color linear 0.2s;
                        }
                    }

                    .new-item {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 3px;

                        &__general {
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            flex-wrap: wrap;

                            *:not(:first-child) {
                                margin-left: 6px;
                            }

                            &-pc {
                                border: 1px solid transparent;
                                outline: none;
                                font-size: 14px;
                                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
                                background: #fff;
                                max-width: 70px;
                                padding: 6px 12px;
                                border-radius: 4px;
                                text-align: center;
                                transition: border-color linear 0.2s;

                                &:hover,
                                &:focus {
                                    border-color: #5383ff;
                                }

                                &::placeholder {
                                    color: #c2c2c2;
                                }
                            }

                            &-task {
                                width: 84.5%;
                                min-height: 100px;
                                padding: 6px 12px;
                                border-radius: 4px;
                                outline: none;
                                border: 1px solid #cecece;
                                font-size: 14px;
                                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
                                background: #fff;
                                transition: border-color linear 0.2s;
                                resize: none;

                                &:hover,
                                &:focus {
                                    border-color: #5383ff;
                                }

                                &::placeholder {
                                    color: #c2c2c2;
                                }
                            }
                        }
                    }
                }
            }

            .body__deadline {
                width: 100%;

                &__date {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .date {
                        margin-left: 10px;
                        border: 1px solid #bdbdbd;
                        border-radius: 6px;
                        padding: 0px 7px;
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            border-color: #4e7fff;
                        }
                    }

                    .difference {
                        margin-left: 10px;
                    }
                }
            }

            .body__actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                padding: 0px 5px;

                .button__text {
                    font-size: 14px;
                    color: #fff;
                    font-weight: 400;
                }

                .send-ticket-icon {
                    width: 27px;
                    height: 20px;
                }

                &-levels {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .levels__title {
                        font-weight: 300;
                        font-size: 16px;
                    }

                    .levels {
                        margin-left: 10px;
                        box-shadow: 0px 0px 10px #eaeaea;
                        padding: 5px;
                        border-radius: 6px;

                        .level__button {
                            font-size: 13px;
                            padding: 5px 10px;

                            border-radius: 6px;
                            transition: background-color ease-in-out 0.2s;

                            &:hover {
                                background-color: #ededed4f;
                            }

                            &.selected {
                                &.mid {
                                    background-color: #ffed4789;
                                }

                                &.start {
                                    background-color: #78ff4789;
                                }

                                &.end {
                                    background-color: #ff874789;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .room,
    .deadline__date {
        margin-left: 15px;
        padding: 8px 14px;
        border-radius: 6px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
    }
}

.actions {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;
    justify-content: end;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 5px;

    .actions__save,
    .actions__remove,
    .actions__add-description {
        min-width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        background-color: #fff;
        border-radius: 4px;
        padding: 14px 16px;
        font-size: 13.5px;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.09);
        transition: border-color linear 0.2s;

        &:hover {
            border-color: #bdbdbd;
        }

        svg {
            margin-left: 10px;
            width: 100%;
            height: 100%;
        }
    }
}

.body__section:not(:last-child) {
    margin-bottom: 14px;
}

.body__section {
    padding: 0px 5px;
    .title {
        font-weight: 300;
        font-size: 16px;
    }
}

.ticket-description {
    width: 100%;
    min-height: 150px;
    padding: 6px 12px;
    margin-top: 5px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #cecece;
    font-size: 14px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    transition: border-color linear 0.2s;
    resize: none;

    &:hover,
    &:focus {
        border-color: #5383ff;
    }

    &::placeholder {
        color: #c2c2c2;
    }

    outline: none;
    resize: none;
}
