.button {
    width: 178px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity linear 0.2s;
    font-weight: 600;

    &:hover {
        opacity: 0.8;
    }
}