.button {
    width: 178px !important;
    height: 36px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity linear 0.2s;
    font-weight: 600;

    &__text {
        font-size: 14px;
    }

    &:hover {
        opacity: 0.8;
    }
}