.item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;

    &:hover {
        .actions {
            display: flex;
        }
    }

    &__general {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;

        *:not(:last-child) {
            margin-right: 6px;
        }

        &-pc {
            width: fit-content;
            max-width: 20%;
            font-size: 15px;
            font-weight: 600;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
            background: #fff;
            padding: 5px 10px;
            border-radius: 4px;
        }

        &__tasks {
            width: 84%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: wrap;

            &-task {
                font-size: 12px;
                padding: 6px 12px;
                border-radius: 4px;
                margin-bottom: 3px;
            }
        }

        &-angle {
            width: 20px;
            height: 20px;
        }

        .enviroment {
            width: auto;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &.edit,
            &.remove {
                width: 33px;
                height: 33px;
                border-radius: 6px;
                background-color: #fff;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                overflow: hidden;
                border: 1px solid transparent;
                transition: border-color 0.2s linear;

                &:hover {
                    border-color: #4e7fff;

                    .edit-icon {
                        path {
                            stroke: #4e7fff;
                        }
                    }
                }

                .edit-icon {
                    path {
                        transition: stroke 0.2s linear;
                    }
                }
            }

            &.remove {
                &:hover {
                    border-color: #ff714e;

                    .trash-icon {
                        path {
                            fill: #ff714e;
                        }
                    }
                }

                .trash-icon {
                    path {
                        transition: fill 0.2s linear;
                    }
                }
            }
        }
    }

    &__description {
        max-width: 70%;
        font-size: 15px;
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 6px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        color: #343434;
        font-weight: 400;
        margin-bottom: 5px;
    }
}
