.tickets-container {
    width: 1180px;
    max-height: 80vh;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
    margin-bottom: 50px;

    &__header {
        margin: 5px;
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;

        &-item {
            font-weight: 300;
            font-size: 15px;

            &.number {
                min-width: 5%;
            }

            &.problem {
                min-width: 28%;
            }

            &.priority {
                min-width: 10%;
            }

            &.location {
                min-width: 15%;
            }

            &.user {
                min-width: 13%;
            }

            &.date {
                min-width: 10%;
            }

            &.status {
                min-width: 17%;
            }

            .search {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 87%;
                height: 40px;
                padding: 5px 12px;
                margin-left: 30px;
                background-color: #edf2f7;
                border-radius: 6px;
                border: 2px solid transparent;
                transition: border-color linear 0.2s;

                &:focus,
                &:hover {
                    outline: none;
                    border-color: #1f7cffbe;
                }

                &.focused {
                    outline: none;
                    border-color: #1f7cffbe;
                }
            }

            .problem__search {
                width: 95%;
                background-color: #edf2f7;
                outline: none;
            }

            .search__icon {
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }
        }
    }

    &__problems-list {
        display: grid;
        background-color: #fff;
        padding: 5px;
        padding-bottom: 40px;
        margin-top: 5px;
        min-height: 598px;
        height: 598px;
        overflow-y: auto;

        &.grid-mode {
            grid-template-columns: repeat(
                auto-fit,
                minmax(300px, 33%)
            ); // 3 items in a row
            grid-auto-rows: 170px; // Фиксированная высота строк
            gap: 5px; // Отступы между элементами

            .ticket-item {
                height: 100%;
                display: grid;
            }
        }

        &.list-mode {
            display: block;
        }
    }
}
