.tickets-container {
    width: 1180px;
    height: 80vh;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
    margin-bottom: 50px;

    &__header {
        margin: 5px;
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: start;
        align-items: center;

        text-align: center;

        &-item {
            font-weight: 300;
            font-size: 15px;
            
            &.number {
                width: 7%;
            }
    
            &.problem {
                width: 33%;
            }

            &.location {
                width: 15%;
            }

            &.user {
                width: 18%;
            }

            &.date {
                width: 10%;
            }

            &.status {
                width: 17%;
            }


            &__separator {
                width: 2px;
                height: 42px;
                border-radius: 4px;
                background-color: #D9D9D9;
            }
        }

        
    }

    &__problems-list {
        background-color: #fff;
        padding: 5px;
        margin-top: 5px;
        max-height: 598px;
        height: 598px;
        overflow: scroll !important;


        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: #c5c5c5;
        }
        
        
        &::-webkit-scrollbar-thumb {
            background: #dbdbdb;
            border-radius: 5px;
        }
    }

    .no-tickets {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__img {
            width: 20%;
            margin-bottom: 10px;
        }

        &__description {
            font-weight: 600;
        }
    }
}