.tickets-container {
    width: 1180px;
    max-height: 80vh;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
    margin-bottom: 50px;

    &__header {
        margin: 5px;
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        &-item {
            font-weight: 300;
            font-size: 15px;

            &.number {
                width: 7%;
            }

            &.problem {
                width: 33%;
            }

            &.location {
                width: 15%;
            }

            &.user {
                width: 18%;
            }

            &.date {
                width: 10%;
            }

            &.status {
                width: 17%;
            }

            .problem__search {
                width: 76%;
                height: 40px;
                padding: 5px 20px;
                background-color: #edf2f7;
                border-radius: 4px;
                border: 2px solid transparent;
                transition: border-color linear 0.2s;

                &:focus,
                &:hover {
                    outline: none;
                    border-color: #1f7cffbe;
                }
            }

            .search__icon {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__problems-list {
        background-color: #fff;
        padding: 5px;
        margin-top: 5px;
        max-height: 598px;
        height: 598px;
        overflow: auto !important;
    }

    .no-tickets {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__img {
            width: 20%;
            margin-bottom: 10px;
        }

        &__description {
            font-weight: 600;
        }
    }
}
