.grid-switcher {
    box-shadow: 0px 0px 10px #dbdbdb;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .grid {
        padding: 2px;
        border-radius: 6px;
        cursor: pointer;
        margin-right: 5px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: #0000000e;
        }

        &.active {
            background-color: #d8e1ff;
        }
    }

    .flex {
        padding: 2px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: #0000000e;
        }

        &.active {
            background-color: #d8e1ff;
        }
    }
}
