.notification {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 6px;

    &.warning {
        background-color: #e1d164;
    }

    &.success {
        background-color: #9dd16f;
    }

    &__icon {
        min-width: 30px;
        min-height: 30px;

        path {
            fill: white;
        }
    }

    &__text {
        margin-left: 12px;
        line-height: 1.1;
        color: #fff;
        font-weight: 400;
    }
}
